<!--footer-->
<div class="footer">
  <div class="container">
    <h2><a href="index.html"> Song Time</a></h2>

    <ul>
      <li ><a href="index.html" >Home  </a> </li>
<!--      <li ><a href="album.html" >Albums  </a> </li>-->
<!--      <li><a href="blog.html"  >Blog</a></li>-->
<!--      <li><a href="typo.html" >Events </a></li>-->
<!--      <li><a href="mail.html" >Mail </a></li>-->
      <div class="clearfix"> </div>
    </ul>
    <p > © 2018 Song Time All rights reserved </p>
  </div>
</div>
<!--//footer-->
</body>
</html>